<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-padding-start" no-margin>RapidoWorkouts</ion-title>

    <ion-chip class="ion-margin-end" outline slot="end">
      <ion-label>Frank</ion-label>
      <ion-avatar [routerLink]="['/account']"
      >
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="workouts-page">
  
  <ion-list class="workouts">

    <ion-list-header class="workouts__header">
      <h5>Your Routine</h5>
    </ion-list-header>

    <ion-card *ngFor="let routine of routines;"  detail="false" lines="none">

      <ion-item lines="none">
        <ion-icon color="primary" name="radio-button-on-outline" class="ion-padding-end"></ion-icon>
        <ion-label>{{ routine.name }}</ion-label>
        <ion-icon slot="end" (click)="showWorkoutActions($event, routine)" button name="ellipsis-vertical"></ion-icon>
      </ion-item>

      <ion-segment *ngIf="routine.weeks.length !> 1" value="favorite" [value]="routine.weeks[0].name">
        <ion-segment-button *ngFor="let week of routine.weeks;" [value]="week.name">
          <ion-label>{{ week.name }}</ion-label>
        </ion-segment-button>
      </ion-segment>
      
      <ion-list *ngFor="let week of routine.weeks;">

        <ion-list-header>
          <ion-label>Daily workouts</ion-label>
        </ion-list-header>

        <ion-item  *ngFor="let workout of week.workouts;" button detail="false" lines="none">
          <ion-label>
            <h2>{{ workout.name }}</h2>
            <p>{{ workout.description }}</p>
          </ion-label>
    
          <ion-button slot="end">Start</ion-button>
    
        </ion-item>
      </ion-list>
    
      <ion-card-content>
        

      </ion-card-content>

    </ion-card>

  </ion-list>


  <ion-list class="workouts">

    <ion-list-header class="workouts__header">
      <h5>Latest Routines</h5>
    </ion-list-header>
    

    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>

</div>
</ion-content>

<!-- <ion-footer>
  <ion-button (click)="showCreateOptions()" class="ion-margin" expand="block">Add</ion-button>
</ion-footer> -->