/**
* Workouts page scss
**/

.workouts-page{
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    /* min-height: 100%; */
    /* margin: auto; */
    /* padding-top: 30px; */
    padding-right: 7px;
    /* padding-bottom: 0; */
    padding-left: 7px;
}