<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-padding-start" no-margin>RapidoWorkouts</ion-title>

    <ion-chip class="ion-margin-end" outline slot="end">
      <ion-label>Frank</ion-label>
      <ion-avatar [routerLink]="['/account']"
      >
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="workouts-page">
  
  <ion-list class="workouts">

    <ion-list-header class="workouts__header">
      <h5>Your Routine</h5>
    </ion-list-header>

    <app-routine-card [routine]="currentRoutine"></app-routine-card>

  </ion-list>

  <ion-list class="workouts">
    <ion-list-header class="workouts__header">
      <h5>Your Progress</h5>
    </ion-list-header>
    

    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
  </ion-list>


  <ion-list class="workouts">
    <ion-list-header class="workouts__header">
      <h5>Your Routines</h5>
    </ion-list-header>
    

    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
  </ion-list>


</div>
</ion-content>