<ion-card detail="false" lines="none">

  <ion-item lines="none">
    <ion-icon color="success" name="radio-button-on-outline" class="ion-padding-end"></ion-icon>
    <ion-label>{{ routine.name }}</ion-label>
    <ion-icon slot="end" (click)="showWorkoutActions($event, routine)" button name="ellipsis-vertical"></ion-icon>
  </ion-item>
    
  <ion-segment *ngIf="routine.weeks.length !> 1" [(ngModel)]="currentWeek">
    <ion-segment-button *ngFor="let week of routine.weeks;" [value]="week.name">
      <ion-label>{{ week.name }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngFor="let week of routine.weeks;">
    <ion-list *ngIf="currentWeek === week.name">

      <ion-list-header>
        <ion-label>Daily workouts</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let workout of week.workouts;" button detail="false" lines="none">
        <ion-label>
          <h2>{{ workout.name }}</h2>
          <p>{{ workout.description }}</p>
        </ion-label>

        <ion-button (click)="onworkoutClick(workout)" slot="end">Start</ion-button>

      </ion-item>
    </ion-list>
  </ng-container>


  <ion-card-content>


  </ion-card-content>

</ion-card>
